<!DOCTYPE html>
<html>
<head>
	<title>New Task</title>
</head>
<body>
	<form action="/create_task" method="POST">
		<input type="text" name="task_content">
		<button name="send">Create Task</button>
	</form>
</body>
</html>