<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>User</p>
	<form action="/username" method="post">
		<input type="text" name="username">
		<input type="submit" name="Send">
	</form>
	<p>Item</p>
	<form action="/item" method="post">
		<input type="text" name="item">
		<input type="submit" name="Send">
	</form>
</body>
</html>