<!DOCTYPE html>
<html>
<head>
	<title>NEW POST FORM</title>
</head>
<body>
	<form action="/new_post" method="POST">
		<label>Title</label>
		<br>
		<input type="text" name="post_title">
		<br>
		<label>Contenido</label>
		<br>
		<input type="text" name="post_text">
		<br>
		<button>Create Post</button>
	</form>
</body>
</html>