<!DOCTYPE html>
<html>
<head>
	<title>Game time!!</title>
	<link href="/style.css" rel="stylesheet" />
</head>
<body>
	<% # binding.pry %>
	<h1>Wich movie was filmed in <%= @year %>?</h1>
	<div class="col-md-4">
	<% @array.each do |movie| %>
		<div class="">
			<form action="/answer" method="POST">
				<button><input type="hidden" name="players_answer" value="<%= movie.year %>"><input type="hidden" name="real_answer" value="<%= @year %>"><img src="<%= movie.poster %>"></button>
			</form>
		</div>
	<% end %>
		</div>
</body>
</html>